.linked-profile {
    width: 75px;
    height: 75px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; 
    transition: 0.3s;
    margin: 5px;
}

.linked-profile:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.linked-profile .image{
    width: 75px;
    height: 75px;
    margin: auto;
} 