.lang{
    margin-left: 1.5%;
    width: 250px;
}


.lang .title{
    display: flex;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px;
    margin: 10px;
}


.lang .title .image{
    margin-right: 1px;
    width: 24px;
    height: 24px;
}

ul.lang {
    list-style-type: circle;
}