.lang{
    flex: 1.8;
}


.lang .title{
    display: flex;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px;
    margin-left: -10px;
}


.lang .title .image{
    width: 24px;
    height: 24px;
}

ul.lang {
    list-style-type: circle;
}