.education{
    width: 50%;
    margin: 10px 0 0 80px;
}

.education .title{
    display: flex;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px; 
}


.education .title .image{
    margin-left: -25px;
    width: 25px;
    height: 25px;
}


.education .exp-title{
    font-weight: bold;
}

.education .primery-color{
    color: #7B524C;
}

.education .secondery-color{
    color: #7f8c8d;
}

.education .subtitle{
    color: black;
    margin-left: 10px;
    font-style: italic;
}

.education .description{
    width: 300px;
    margin-left: 10px;
}

.education .cert-description{
    margin-left: 10px;
}

.education .publication-description{
    margin-left: 10px;
    text-decoration: none;
    color: #7f8c8d;
}
.education .publication-description:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .education{
        width: 90%;
        margin: 10px 0 0 30px;
    }

    .education .description{
        width: 100%;
    }
}