.skills{
    width: 40%;
    margin: 0 auto;
}

.skills .skills-container{
    display: flex;
    flex-wrap: wrap;
}

.skills .title{
    display: flex;
    text-decoration: underline;
    font-weight: bold;
    font-size: 23px;
    margin: 10px;
}

.skills .skill{
    background-color: #fdcb6e;
    margin: 5px;
    color: #7B524C;
    font-weight: bold;
}