.about{
    display: flex;
    margin: 0 auto;
    padding: 20px;
}
.about .static-about{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.about .linked-about{
    display: flex;
}